* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "a a b"
        "c d d"
        "c e e";
    gap: 10px;
    padding: 10px;
    grid-template-columns: 220px 150px 210px;
    grid-template-rows: 180px 90px 120px;
}

main > div {
    padding: 2em;
}

.item-a {
    background-color: #eb5020;
    grid-area: a;
}

.item-b {
    background-color: #ffa401;
    grid-area: b;
}

.item-c {
    background-color: #05aa42;
    grid-area: c;
    width: 100%;
}

.item-d {
    background-color: #01aefd;
    grid-area: d;
    grid-gap: 10px;
}

.item-e {
    background-color: #01aefd;
    grid-area: e;
}
